body{
    background-color: #E4E0E1;
}
.btn{
    border: #336699 1px solid}
h1 , h3 , h2{
    font-family: 'Abril Fatface';
    font-weight: 300;
}

p{ font-family: "Lato";
font-weight: 200;
text-indent: 1.5em;}

@media (max-width:500px){

    .header .container img{
        width: 40px;
        height:40px;
    }
    .header .container li{
        font-size: .8rem;
    }
    .hero .container #image{
        display:block;
         margin-left: auto;
          margin-right: auto;
         width:auto    
    }
    header{
        display:flex;
        justify-content: space-around;
        justify-items: center;
        align-items: center;
       }

}
@media (max-width:720px){
   header{
    display:flex;
    justify-content: space-between;
   }
    .header .container #profile{
        width: 50px;
        height:50px;
      
    }
    .header .container li{
        font-size: .8rem;
        padding: 3px 3px 3px 3px;
      
    }
    .header .container #button{
        padding-left:5px ;
     
    }
    .hero .container #image{
        display:block;
         margin-left: auto;
          margin-right: auto;
         width:auto    
    }
   
}